@page "/realocacao"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager uriHelper
@attribute [Authorize]

<style>

    #main-relocation {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #relocation-title {
        text-align: center;
        font-size: 1.3em;
        padding-bottom: 10px;
    }

    #relocation-subtitle {
        text-align: center;
        font-size: 0.90em;
        font-weight: 500;
        color: rgb(94, 94, 94);
        padding-bottom: 15px;
    }

    #main-form-relocation{
        display: flex;
        justify-content: center;
        
    }

    .label-input-text {
        font-size: 0.7500em;
        font-weight: 600;
    }

    .form-control {
        width: 500px;
        height: 45px;
        margin: 8px 0;
        padding: 8px;
        transition: .3s;
    }

    .div-show-info {
        display: flex;
        justify-content: center;
        height: 45px;
        width: 500px;
        border: 1px solid rgba(0, 0, 0, 0.849);
        border-color: #ced4da;
        border-radius: 0.25em;
        margin: 8px 0;
        padding: 8px;
    }

    #btn-return-search {
        display: flex;
        width: 500px;
        justify-content: space-between;
        margin-top: 30px;
    }

    .btn-primary {
        width: 100px;
        height: 35px;
    }

    .btn-light {
        width: 100px;
        height: 35px;
    }

    .confirm-or-cancel-area {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .btn-success {
        width: 100px;
        height: 35px;
        background-color: #19B95F;
        color: white;
        font-size: 0.7500em;
    }

    .btn-success:hover {
        background-color: #18AD5A;
    }

    .btn-danger {
        width: 100px;
        height: 35px;
        font-size: 0.7500em;
    }

    .alert-danger {
        width: 500px !important;
    }

    
</style>


<div id="main-relocation">

    <h3 id="relocation-title">Realocação de Veículo</h3>

    <p id="relocation-subtitle">Busque o veículo pela placa e realize a troca de vaga do veículo estacionado.</p>

    <div id="main-form-relocation">
        <EditForm Model="@_alocacao" OnValidSubmit="TrocarVaga">
            <DataAnnotationsValidator />
            <div id="input-return-search">
                <div class="form-group ">
                    <label class="label-input-text">Entre com placa do veículo *</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@_veiculoPlaca" disabled="@_alocacaoEncontrada" />
                    </div>
                    <div id="btn-return-search">
                        @if (!_alocacaoEncontrada)
                        {
                            <div>
                                <a class="btn btn-primary" href="/" title="Voltar"><i class="oi oi-home"></i></a>
                            </div>
                        }
                        <div>
                            <a class="btn btn-light" @onclick="@(() => BuscarAlocacao())" disabled="@_alocacaoEncontrada" title="Buscar"><i class="oi oi-magnifying-glass"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            @if (_alocacaoEncontrada)
            {
                <style>
                    #btn-return-search {
                        display: none;
                    }
                </style>

                <div class="form-group ">
                    <label class="label-input-text">Estacionamento *</label>
                    <div class="div-show-info">@_alocacao.EstacionamentoUnidade</div>
                </div>

                <div class="form-group ">
                    <label class="label-input-text">Vaga Atual *</label>
                    <div class="div-show-info">@_alocacao.VagaNome</div>
                </div>

                <div class="form-group ">
                    <label class="label-input-text">Veículo *</label>
                    <div class="div-show-info">@_alocacao.VeiculoPlaca</div>
                </div>

                <div class="form-group">
                    <label class="label-input-text">Data/Hora de Entrada *</label>
                    <div class="div-show-info">@_alocacao.Entrada.ToString("dd/MM/yyyy hh:mm")</div>
                </div>

                <div class="form-group ">
                    <label class="label-input-text">Manobrista Entrada *</label>
                    <div class="div-show-info">[@_alocacao.ManobristaEntradaCPF] @_alocacao.ManobristaEntradaNome</div>
                </div>

                <div class="form-group ">
                    <label class="label-input-text">Atendente Entrada *</label>
                    <div class="div-show-info">[@_alocacao.AtendenteEntradaCPF] @_alocacao.AtendenteEntradaNome</div>
                </div>

                <div class="form-group ">
                    <label class="label-input-text">Nova Vaga *</label>
                    <div>
                        <InputSelectNumber class="div-show-info" @bind-Value="@_alocacao.VagaId">
                            @if (ListagemVagas == null)
                            {
                                <option value="">-- Carregando --</option>
                            }
                            else
                            {
                                <option value="0" selected>-- Escolha a Vaga --</option>
                                @if (ListagemVagas != null)
                                {
                                    @foreach (var vaga in ListagemVagas)
                                    {
                                        <option value="@vaga.Id">@vaga.Nome</option>
                                    }
                                }
                            }
                        </InputSelectNumber>
                    </div>
                </div>

                <div class="confirm-or-cancel-area">
                    <div>
                        <a class="btn btn-danger" href="/">Cancelar</a>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success">Confirmar</button>
                    </div>
                </div>
            }

            <br />
            <br />
            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" @onclick="@(() => _errorMessage = string.Empty)">×</button>
                    <strong>Erro!</strong> @_errorMessage
                </div>
            }
        </EditForm>
    </div>
</div>
